name: Release

on:
  workflow_dispatch:

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    environment: release
    permissions:
      contents: write
      issues: write
      pull-requests: write
      id-token: write
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '11'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
      - name: Execute Gradle build
        run: ./gradlew build
      - uses: actions/setup-dotnet@v4.3.1
        with:
          dotnet-version: "8.0.x"
      - name: Install semantic-release
        run: |
          npm install --force
          npm config set access public
      - name: Compile TypeScript
        run: npm run build
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.11
      - run: pip install --upgrade tomlkit hatchling build pkginfo twine setuptools
      - name: Release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GH_ACTOR: ${{ github.actor }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          PYPI_TOKEN: ${{ secrets.PYPI_TOKEN }}
          GRADLE_SIGNING_KEY: ${{ secrets.GRADLE_SIGNING_KEY }}
          GRADLE_SIGNING_PASSWORD: ${{ secrets.GRADLE_SIGNING_PASSWORD }}
          NUGET_TOKEN: ${{ secrets.NUGET_TOKEN }}
        run: |
          echo "gradle.publish.key=${{ secrets.GRADLE_PUBLISH_KEY }}" > ~/.gradle/gradle.properties
          echo "gradle.publish.secret=${{ secrets.GRADLE_PUBLISH_SECRET }}" >> ~/.gradle/gradle.properties
          npx semantic-release
